.book-title {
  text-align: center;
}

.component-title{
  margin-bottom: 10px;
  text-align: center;
}

.layout-format {
  width: 800px;
}

.content-layout {
  font-size:16px;
  padding:20px;
  border-bottom:1px solid #D5D5D5;
}

.align-logo{
  text-align:center;
}

.more-details{
  cursor:pointer;
  float:left;
  margin-top:40px
}