<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <p>View PrimeNG Logo</p>
            <p-overlayPanel #overlaybasic>
                <img src="/assets/data/images/primeng.png" alt="PrimeNG Logo" />
            </p-overlayPanel>
            <button type="button" pButton label="Logo" (click)="overlaybasic.toggle($event)"></button>
        </pe-step>
        <!-- Customization -->
        <pe-step label="Customization">
            <i class="fa fa-search" (mouseenter)="overlaycustom.show($event)" ></i>
            <p-overlayPanel #overlaycustom [showCloseIcon]="true" [dismissable]="false">
                <iframe width="500" height="300" src="/assets/data/videos/ironman.mp4"  allowfullscreen></iframe>
            </p-overlayPanel>

        </pe-step>

        <!-- DataTable Integration -->
        <pe-step label="DataTable Integration">
            <p-dataTable [value]="scores">
                <p-column header="Result">
                    <ng-template let-score="rowData" pTemplate="body">
                        <button type="button" pButton (click)="selectScore($event,score,overlayintegration);" icon="fa-search"></button>
                    </ng-template>
                </p-column>
                <p-column field="name" header="Name"></p-column>
                <p-column field="java" header="Java"></p-column>
                <p-column field="scala" header="Scala"></p-column>
                <p-column field="play" header="Play"></p-column>
            </p-dataTable>
            <p-overlayPanel #overlayintegration>
                Total marks: <span>{{marks}}</span> <br/>
                Percentage: <span>{{percentage}}%</span>
            </p-overlayPanel>

        </pe-step>

        <!-- Events -->
        <pe-step label="Events">
            <p-overlayPanel #overlayevents (onBeforeShow)="onBeforeShow()" (onAfterShow)="onAfterShow()" (onBeforeHide)="onBeforeHide()" (onAfterHide)="onAfterHide()">
                <img src="/assets/data/images/primeng.png" alt="PrimeNG Logo" />
            </p-overlayPanel>
            <button type="button" pButton label="Logo" (click)="overlayevents.toggle($event)"></button>
        </pe-step>

    </pe-steps>

</form>

<p-growl [value]="msgs"></p-growl>