<form novalidate>
    <p-steps name="features" [model]="items" [(activeIndex)]="activeIndex"
             [readonly]="false"></p-steps>
    <div [ngSwitch]="activeIndex" class="layout-format">
        <span *ngSwitchCase="0">
    <h3>Basic</h3>
    <p-lightbox [images]="images"></p-lightbox>
        </span>
        <span *ngSwitchCase="1">
    <h3>Content</h3>
    <p-lightbox type="content">
        <a class="group" href="#">
            Watch Video
        </a>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9bZkp7q19f0" frameborder="0" allowfullscreen></iframe>
    </p-lightbox>
        </span>
</form>

<p-growl [value]="msgs"></p-growl>