<form novalidate>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <h3>Basic: {{val1}}</h3>
            <p-slider [(ngModel)]="basicinput" name="basicinput" [style]="{'width':'200px'}"></p-slider>
        </div>
        <div class="ui-g-12 ui-md-6">
            <h3>Step: {{val4}}</h3>
            <p-slider [(ngModel)]="stepinput" name="stepinput" [style]="{'width':'200px'}" [step]="20" (onChange)="onChange()" (onSlideEnd)="onSlideEnd()"></p-slider>
        </div>
        <div class="ui-g-12 ui-md-6">
            <h3>Range: {{rangeValues}}</h3>
            <p-slider [(ngModel)]="rangeValues" name="rangeinput" [style]="{'width':'200px'}" [range]="true"></p-slider>
        </div>
        <div class="ui-g-12 ui-md-6">
            <h3>Input: {{val2}}</h3>
            <input type="text" pInputText name="sliderinput" [(ngModel)]="sliderinput" style="width:190px"/>
            <p-slider [(ngModel)]="sliderinput" name="basicinput" [style]="{'width':'200px'}"></p-slider>
        </div>
        <div class="ui-g-12 ui-md-6">
            <h3>Animate: {{val3}}</h3>
            <p-slider [(ngModel)]="animateinp" name="animateinput" [style]="{'width':'200px'}" [animate]="true"></p-slider>
        </div>
        <div class="ui-g-12 ui-md-6">
            <h3>Orientation: {{val5}}</h3>
            <p-slider [(ngModel)]="val5" name="verticalinput" [style]="{'height':'200px'}" orientation="vertical"></p-slider>
        </div>
    </div>
</form>

<p-growl [value]="msgs"></p-growl>