<form novalidate>
    <p-messages [value]="msgs"></p-messages>

    <div>
        <button type="button" pButton (click)="showSuccess()" label="Success" class="ui-button-success"></button>
        <button type="button" pButton (click)="showInfo()" label="Info" class="ui-button-info"></button>
        <button type="button" pButton (click)="showWarn()" label="Warn" class="ui-button-warning"></button>
        <button type="button" pButton (click)="showError()" label="Error" class="ui-button-danger"></button>
        <button type="button" pButton (click)="showMultiple()" label="Multiple"></button>
        <button type="button" pButton (click)="clear()" icon="fa-close" style="float:right" label="Clear"></button>
    </div>
</form>

<p-growl [value]="msgs"></p-growl>