<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event);" [stepClass]="'layout-format'">
        <!-- Basic -->
        <pe-step label="Basic" >
            <p-dataList [value]="basicBrowsers">
                <ng-template let-browser pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" class="content-layout">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3" ><img src="/assets/data/images/{{browser.code}}.png" width="100" height="80"/></div>
                            <div class="ui-grid-col-9">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Engine: </div>
                                        <div class="ui-grid-col-10">{{browser.engine}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Browser: </div>
                                        <div class="ui-grid-col-10">{{browser.browser}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Platform: </div>
                                        <div class="ui-grid-col-10">{{browser.platform}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Version: </div>
                                        <div class="ui-grid-col-10">{{browser.version}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Grade: </div>
                                        <div class="ui-grid-col-10">{{browser.grade}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>

        </pe-step>
        <!-- Facets -->
        <pe-step label="Facets">
            <p-dataList [value]="facetBrowsers">
                <p-header>
                    List of Browsers
                </p-header>
                <ng-template let-browser pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" class="content-layout">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3" ><img src="/assets/data/images/{{browser.code}}.png" width="100" height="80"></div>
                            <div class="ui-grid-col-9">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Engine: </div>
                                        <div class="ui-grid-col-10">{{browser.engine}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Browser: </div>
                                        <div class="ui-grid-col-10">{{browser.browser}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Platform: </div>
                                        <div class="ui-grid-col-10">{{browser.platform}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Version: </div>
                                        <div class="ui-grid-col-10">{{browser.version}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Grade: </div>
                                        <div class="ui-grid-col-10">{{browser.grade}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <p-footer>
                    Note: Grades are 3 types.A,B and C.
                </p-footer>
            </p-dataList>
        </pe-step>
        <!-- Pagination -->
        <pe-step label="Pagination">
            <p-dataList [value]="paginationBrowsers" [paginator]="true" [rows]="5" [pageLinks]="6" [rowsPerPageOptions]="[5,10,15]" [paginatorPosition]="both" [emptyMessage]="'No records found'">
                <p-header>
                    List of Browsers
                </p-header>
                <ng-template let-browser pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" class="content-layout">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3"><img src="/assets/data/images/{{browser.code}}.png" width="100" height="80"></div>
                            <div class="ui-grid-col-9">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Engine: </div>
                                        <div class="ui-grid-col-10">{{browser.engine}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Browser: </div>
                                        <div class="ui-grid-col-10">{{browser.browser}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Platform: </div>
                                        <div class="ui-grid-col-10">{{browser.platform}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Version: </div>
                                        <div class="ui-grid-col-10">{{browser.version}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Grade: </div>
                                        <div class="ui-grid-col-10">{{browser.grade}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </pe-step>
        <!-- Lazy loading -->
        <pe-step label="Lazy loading">
            <p-dataList [value]="lazyloadingBrowsers" [paginator]="true" [rows]="5" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords">
                <p-header>
                    List of Browsers
                </p-header>
                <ng-template let-browser pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" class="content-layout">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3" ><img src="/assets/data/images/{{browser.code}}.png" width="100" height="80"></div>
                            <div class="ui-grid-col-9">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Engine: </div>
                                        <div class="ui-grid-col-10">{{browser.engine}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Browser: </div>
                                        <div class="ui-grid-col-10">{{browser.browser}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Platform: </div>
                                        <div class="ui-grid-col-10">{{browser.platform}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Version: </div>
                                        <div class="ui-grid-col-10">{{browser.version}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Grade: </div>
                                        <div class="ui-grid-col-10">{{browser.grade}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </pe-step>
        <!-- Events -->
        <pe-step label="Events">
            <p-dataList [value]="eventsBrowsers" [paginator]="true" [rows]="5" (onPage)="onPagination($event)">
                <p-header>
                    List of Browsers
                </p-header>
                <ng-template let-browser pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" class="content-layout">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3"><img src="/assets/data/images/{{browser.code}}.png" width="100" height="80"></div>
                            <div class="ui-grid-col-9">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Engine: </div>
                                        <div class="ui-grid-col-10">{{browser.engine}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Browser: </div>
                                        <div class="ui-grid-col-10">{{browser.browser}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Platform: </div>
                                        <div class="ui-grid-col-10">{{browser.platform}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Version: </div>
                                        <div class="ui-grid-col-10">{{browser.version}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Grade: </div>
                                        <div class="ui-grid-col-10">{{browser.grade}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </pe-step>

        <!-- Multi feature -->
        <pe-step label="(Multi feature)">
            <p-dataList [value]="advancedBrowsers" [paginator]="true" [rows]="5" (onPage)="onPagination($event)" [rowsPerPageOptions]="[5,10,15]" [paginatorPosition]="both" [emptyMessage]="'No records found'">
                <p-header>
                    List of Browsers
                </p-header>
                <ng-template let-browser pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" class="content-layout">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3 align-logo"><i class="fa fa-search" (click)="selectBrowser(browser)" class="more-details"></i><img src="/assets/data/images/{{browser.code}}.png" width="100" height="100"></div>
                            <div class="ui-grid-col-9">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Engine: </div>
                                        <div class="ui-grid-col-10">{{browser.engine}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Browser: </div>
                                        <div class="ui-grid-col-10">{{browser.browser}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Platform: </div>
                                        <div class="ui-grid-col-10">{{browser.platform}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Version: </div>
                                        <div class="ui-grid-col-10">{{browser.version}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Grade: </div>
                                        <div class="ui-grid-col-10">{{browser.grade}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <p-footer>
                    Note: Grades are 3 types.A,B and C.
                </p-footer>
            </p-dataList>
            <p-dialog header="Browser Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()">
                <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedBrowser" style="font-size:16px;text-align:center;padding:20px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align:center"><img src="/assets/data/images/{{browser.code}}.png" width="100" height="100"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">Engine: </div>
                        <div class="ui-grid-col-8">{{selectedBrowser.engine}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">Browser: </div>
                        <div class="ui-grid-col-8">{{selectedBrowser.browser}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">Platform: </div>
                        <div class="ui-grid-col-8">{{selectedBrowser.platform}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">Version: </div>
                        <div class="ui-grid-col-8">{{selectedBrowser.version}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">Grade: </div>
                        <div class="ui-grid-col-8">{{selectedBrowser.grade}}</div>
                    </div>
                </div>
            </p-dialog>
        </pe-step>


    </pe-steps>
</form>

<p-growl [value]="msgs"></p-growl>