<form novalidate>
    <h3>Do you like Angular? - {{checked}}</h3>
    <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>

    <h3>Which angular versions you like more?</h3>
    <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12"><p-checkbox name="angulargroup" value="AngularJS1.0" label="AngularJS V1.0" [(ngModel)]="selectedVersions"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox name="angulargroup" value="AngularV2.0" label="Angular V2.0" [(ngModel)]="selectedVersions"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox name="angulargroup" value="AngularV4.0" label="Angular V2.0" [(ngModel)]="selectedVersions"></p-checkbox></div>
    </div>

    <h3 class="first">Status: {{value}}</h3>
    <p-triStateCheckbox [(ngModel)]="status"></p-triStateCheckbox>

</form>

<p-growl [value]="msgs"></p-growl>