<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <h3>Select your favourite Framework</h3>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-radioButton name="group1" value="Angular" label="Angular" [(ngModel)]="basic"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton name="group1" value="React" label="React" [(ngModel)]="basic"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton name="group1" value="Polymer" label="Polymer" [(ngModel)]="basic"></p-radioButton>
                </div>
            </div>
        </pe-step>
        <!-- Default selection -->
        <pe-step label="Default selection">
            <h3>Select your favourite Framework</h3>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-radioButton name="group2" value="Angular" label="Angular" [(ngModel)]="defaultSelection"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton name="group2" value="React" label="React" [(ngModel)]="defaultSelection"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton name="group2" value="Polymer" label="Polymer" [(ngModel)]="defaultSelection"></p-radioButton>
                </div>
            </div>
        </pe-step>
        <!-- Events -->
        <pe-step label="Events">
            <h3>Select your favourite Framework</h3>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-radioButton name="group3" value="Angular" label="Angular" [(ngModel)]="eventsSelection" (onClick)="selectFramework()"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton name="group3" value="React" label="React" [(ngModel)]="eventsSelection" (onClick)="selectFramework()"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton name="group3" value="Polymer" label="Polymer" [(ngModel)]="eventsSelection" (onClick)="selectFramework()"></p-radioButton>
                </div>
            </div>
        </pe-step>
        <!-- Disabled -->
        <pe-step label="Disabled">
            <h3>Select your favourite Framework</h3>
            <div class="ui-g">
                <div class="ui-g-12">
                    <p-radioButton name="group4" value="Angular" label="Angular" [(ngModel)]="disabledSelection" disabled="true"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton name="group4" value="React" label="React" [(ngModel)]="disabledSelection" disabled="true"></p-radioButton>
                </div>
                <div class="ui-g-12">
                    <p-radioButton name="group4" value="Polymer" label="Polymer" [(ngModel)]="disabledSelection" disabled="true"></p-radioButton>
                </div>
            </div>
        </pe-step>
    </pe-steps>
</form>

<p-growl [value]="msgs"></p-growl>