<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <h3>Enter contacts</h3>
            <p-chips [(ngModel)]="contactnames" name="basic"></p-chips>
        </pe-step>

        <!-- Customized -->
        <pe-step label="Customized" [styleClass]="'multicheckbox-height'">
            <h3>Customized display</h3>
            <p-chips [(ngModel)]="complexcontacts" name="template" placeholder="Enter contacts">
                <ng-template let-item pTemplate="item">
                    <i class="fa fa-address-card"></i>-{{item}}
                </ng-template>
            </p-chips>
        </pe-step>

        <!-- Styles -->
        <pe-step label="Styles">
            <h3>Enter contacts</h3>
            <p-chips [(ngModel)]="contactnames" name="styles" [inputStyle]="{'width':'100%','color':'blue'}"></p-chips>
        </pe-step>

        <!-- Duplicates -->
        <pe-step label="Duplicates ">
            <h3>Enter contacts</h3>
            <p-chips [(ngModel)]="contactnames" name="duplicate" [allowDuplicate]="false"></p-chips>
        </pe-step>

        <!-- Events -->
        <pe-step label="Events">
            <h3>Events</h3>
            <p-chips [(ngModel)]="contactsnotified" name="events" placeholder="Enter contacts" (onAdd)="onAddContact()"
                     (onRemove)="onRemoveContact()"></p-chips>
        </pe-step>

        <!-- Disabled -->
        <pe-step label="Disabled">
            <h3>Disabled</h3>
            <p-chips [(ngModel)]="disabledcontacts" name="disable" placeholder="Enter contacts"
                     disabled="true"></p-chips>
        </pe-step>

    </pe-steps>
</form>

<p-growl [value]="msgs"></p-growl>