<form novalidate>
    <p-steps name="features" [model]="items" [(activeIndex)]="activeIndex"
             [readonly]="false"></p-steps>
    <div [ngSwitch]="activeIndex" class="layout-format">
        <span *ngSwitchCase="0">
    <h3 class="first">Basic</h3>
    <p-chips [(ngModel)]="contactnames" name="basic"></p-chips>
            </span>
        <span *ngSwitchCase="1">
             <h3 class="first">Events</h3>
    <p-chips [(ngModel)]="contactsnotified" name="events" (onAdd)="onAddContact()"
             (onRemove)="onRemoveContact()"></p-chips>
            </span>
        <span *ngSwitchCase="2">
            <h3>Customized display</h3>
    <p-chips [(ngModel)]="complexcontacts" name="template">
        <template let-item pTemplate="item">
            <i class="fa fa-address-card"></i>-{{item}}
        </template>
    </p-chips>
            </span>
</form>

<p-growl [value]="msgs"></p-growl>