<form novalidate>

    <p-steps name="features" [model]="items" [(activeIndex)]="activeIndex"
             [readonly]="false"></p-steps>
    <div [ngSwitch]="activeIndex" class="layout-format">
        <span *ngSwitchCase="0">
            <h3>Single selection</h3>
            <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" placeholder="Select a Country"></p-dropdown>
            </span>
        <span *ngSwitchCase="1">
             <h3>Editable dropdown</h3>
             <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" [style]="{'width':'150px'}" editable="editable"
                placeholder="Select a Country"></p-dropdown>
            </span>
        <span *ngSwitchCase="2">
             <h3>Content with Filters</h3>
    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" [style]="{'width':'150px'}" filter="filter">
        <template let-country pTemplate="item">
            <div class="ui-helper-clearfix" class="template-border">
                    <img src="/assets/data/images/country/{{country.code.toLowerCase()}}.png" class="country-image"/>
                    <div class="country-text">{{country.name}}</div>
            </div>
        </template>
    </p-dropdown>
            </span>
        <span *ngSwitchCase="3">
             <p-multiSelect [options]="countries" [(ngModel)]="selectedCountries"></p-multiSelect>
    <p>Selected Cars: {{selectedCars}}</p>
            </span>
        <span *ngSwitchCase="4">
        <h3>Drodown Events:onFocus,onBlur,onChange</h3>
            <h3>MultiSelect Events:onChange</h3>
       <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" placeholder="Select a Country" (onFocus)="onFocus()" (onBlur)="onBlur()" (onChange)="onChange()"></p-dropdown>
            <br/>
            <p-multiSelect [options]="countries" [(ngModel)]="selectedCountries" (onChange)="onChangeMultiselect()"></p-multiSelect>
    </span>
        <span *ngSwitchCase="5">
        <h3>Disabled</h3>
       <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" placeholder="Select a Country" disabled="true"></p-dropdown>
            <br/>
            <p-multiSelect [options]="countries" [(ngModel)]="selectedCountries" disabled="true"></p-multiSelect>
    </span>
    </div>

</form>

<p-growl [value]="msgs"></p-growl>