
<pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event);">
    <!-- Basic -->
    <pe-step label="Basic">
        <p-dataTable [value]="basicBrowsers">
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>

    <!-- Dynamic columns-->
    <pe-step label="Dynamic columns">
        <p-dataTable [value]="basicBrowsers">
            <p-header>
                <div class="algin-left">
                    <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
                </div>
            </p-header>
            <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
        </p-dataTable>
    </pe-step>

    <!-- Custom content-->
    <pe-step label="customization">
        <p-dataTable [value]="basicBrowsers">
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade">
                <ng-template let-col let-browser="rowData" pTemplate="body">
                    <span [style.color]="'Green'" *ngIf="browser[col.field]=='A'">{{browser[col.field]}}</span>
                    <span [style.color]="'Blue'" *ngIf="browser[col.field]=='B'">{{browser[col.field]}}</span>
                    <span [style.color]="'Red'" *ngIf="browser[col.field]=='C'">{{browser[col.field]}}</span>
                </ng-template>
            </p-column>
            <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                    <button type="button" pButton icon="fa-refresh"></button>
                </ng-template>
                <ng-template let-browser="rowData" pTemplate="body">
                    <button type="button" pButton (click)="selectBrowser(browser)" icon="fa-search"></button>
                </ng-template>
            </p-column>
        </p-dataTable>
    </pe-step>

    <!-- Facets -->
    <pe-step label="Facets">
        <p-dataTable [value]="basicBrowsers">
            <p-header>List of browsers</p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
            <p-footer>There are 3 types of browser grades.A,B and C</p-footer>
        </p-dataTable>
    </pe-step>

    <!-- Progress status -->
    <pe-step label="Loading status">
        <p-dataTable [value]="basicBrowsers" [loading]="true">
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>

    <!-- Single selection -->
    <pe-step label="Single selection">
        <p-dataTable [value]="basicBrowsers" selectionMode="single" [(selection)]="selectedBrowser">
            <p-header>Single Selection</p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
            <p-footer>
                <div style="text-align: left">Selected Browser: {{selectedBrowser ? selectedBrowser.engine + ' - ' +
                    selectedBrowser.browser + ' - ' + selectedBrowser.platform + ' - ' + selectedBrowser.grade:
                    'none'}}
                </div>
            </p-footer>
        </p-dataTable>
    </pe-step>
    <!-- Multiple selection -->
    <pe-step label="Multiple selection">
        <p-dataTable [value]="basicBrowsers" selectionMode="multiple" [(selection)]="selectedBrowsers">
            <p-header>Multiple Selection</p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
            <p-footer>
                <ul>
                    <li *ngFor="let browser of selectedBrowsers" style="text-align: left">{{browser.engine + ' - ' +
                        browser.browser +
                        ' - ' + browser.platform + ' - ' + browser.grade}}
                    </li>
                </ul>
            </p-footer>
        </p-dataTable>
    </pe-step>
    <!-- Selection events-->
    <pe-step label="Selection events">
        <p-dataTable [value]="basicBrowsers" selectionMode="single" [(selection)]="selectedBrowser"
                     (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                     (onRowClick)="onRowClick($event)" (onRowDblClick)="onRowDblClick($event)">
            <p-header>Selection with Events</p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- RadioButton selection -->
    <pe-step label="RadioButton selection">
        <p-dataTable [value]="basicBrowsers" [(selection)]="selectedBrowser">
            <p-header> RadioButton selection (Single Selection)</p-header>
            <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
            <p-footer>
                <div style="text-align: left">Selected Browser: {{selectedBrowser ? selectedBrowser.engine + ' - ' +
                    selectedBrowser.browser + ' - ' + selectedBrowser.platform + ' - ' + selectedBrowser.grade:
                    'none'}}
                </div>
            </p-footer>
        </p-dataTable>
    </pe-step>
    <!-- Checkbox selection -->
    <pe-step label="Checkbox selection">
        <p-dataTable [value]="basicBrowsers" [(selection)]="selectedBrowsers">
            <p-header>Multiple Selection</p-header>
            <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
            <p-footer>
                <ul>
                    <li *ngFor="let browser of selectedBrowsers" style="text-align: left">{{browser.engine + ' - ' +
                        browser.browser +
                        ' - ' + browser.platform + ' - ' + browser.grade}}
                    </li>
                </ul>
            </p-footer>
        </p-dataTable>
    </pe-step>
    <!-- Sorting -->
    <pe-step label="Sorting">
        <h3 class="first">Single Column</h3>
        <p-dataTable [value]="basicBrowsers" (onSort)="onSort($event)">
            <p-column field="engine" header="Engine" [sortable]="true"></p-column>
            <p-column field="browser" header="Browser" [sortable]="true"></p-column>
            <p-column field="platform" header="Platform" [sortable]="true"></p-column>
            <p-column field="grade" header="Grade" [sortable]="true"></p-column>
        </p-dataTable>
        <h3>Multiple Columns</h3>
        <p-dataTable [value]="basicBrowsers" sortMode="multiple" (onSort)="onSort($event)">
            <p-column field="engine" header="Engine" [sortable]="true"></p-column>
            <p-column field="browser" header="Browser" [sortable]="true"></p-column>
            <p-column field="platform" header="Platform" [sortable]="true"></p-column>
            <p-column field="grade" header="Grade" [sortable]="true"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- Filtering -->
    <pe-step label="Filtering">
        <div class="ui-widget-header align-globalfilter">
            <i class="fa fa-search search-globalfilter"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter">
        </div>
        <p-dataTable [value]="browsers" [rows]="10" [paginator]="true" [globalFilter]="gb" #datatable (onFilter)="onFilter($event)">
            <p-header>List of Browsers</p-header>
            <p-column field="browser" header="Browser (contains)" [filter]="true" [filterMatchMode]="contains"
                      filterPlaceholder="Search"></p-column>
            <p-column field="platform" header="Platform (startsWith)" [filter]="true"
                      filterPlaceholder="Search"></p-column>

            <p-column field="rating" header="Rating ({{browserFilter||'No Filter'}}" [filter]="true"
                      filterMatchMode="equals" [style]="{'overflow':'visible'}">
                <ng-template pTemplate="filter" let-col>
                    <i class="fa fa-close"
                       (click)="ratingFilter=null;datatable.filter(null,col.field,col.filterMatchMode)"></i>
                    <p-slider [styleClass]="'slider-layout'" [(ngModel)]="ratingFilter" [min]="1"
                              [max]="10"
                              (onSlideEnd)="datatable.filter($event.value,col.field,col.filterMatchMode)"></p-slider>
                </ng-template>
            </p-column>
            <p-column field="engine" header="Engine (Custom)" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}">
                <ng-template pTemplate="filter" let-col>
                    <p-dropdown [options]="engines" [style]="{'width':'100%'}"
                                (onChange)="datatable.filter($event.value,col.field,col.filterMatchMode)"
                                styleClass="ui-column-filter"></p-dropdown>
                </ng-template>
            </p-column>
            <p-column field="grade" header="Grade (Custom)" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
                <ng-template pTemplate="filter" let-col>
                    <p-multiSelect [options]="grades" defaultLabel="All grades"
                                   (onChange)="datatable.filter($event.value,col.field,col.filterMatchMode)"
                                   styleClass="ui-column-filter"></p-multiSelect>
                </ng-template>
            </p-column>
        </p-dataTable>
    </pe-step>
    <!-- Pagination -->
    <pe-step label="Pagination">
        <p-dataTable [value]="browsers" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,15,20]" paginatorPosition="both" (onPage)="onPage($event)" >
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- Editable -->
    <pe-step label="Editable">
        <p-dataTable [value]="basicBrowsers" [editable]="true">
            <p-column field="browser" header="Browser" [editable]="true"></p-column>
            <p-column field="platform" header="Platform" [editable]="false"></p-column>
            <p-column field="engine" header="Engine" [editable]="true" [style]="{'overflow':'visible'}">
                <ng-template let-col let-browserRef="rowData" pTemplate="editor">
                    <p-dropdown [(ngModel)]="browserRef[col.field]" [options]="engines" [autoWidth]="false"
                                [style]="{'width':'100%'}"
                                required="true"></p-dropdown>
                </ng-template>
            </p-column>
            <p-column field="grade" header="Grade" [editable]="true"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- Row expansion -->
    <pe-step label="Row expansion">
        <p-dataTable [value]="basicBrowsers" expandableRows="true" [expandedRows]="expandedRows">
            <p-column expander="true" styleClass="col-icon" header="Toggle"></p-column>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
            <ng-template let-browser pTemplate="rowexpansion">
                <div class="ui-grid ui-grid-responsive ui-fluid rowexpansion-layout">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-9">
                            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Engine:</div>
                                    <div class="ui-grid-col-10">{{browser.engine}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Browser:</div>
                                    <div class="ui-grid-col-10">{{browser.browser}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Plaftform:</div>
                                    <div class="ui-grid-col-10">{{browser.platform}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Version:</div>
                                    <div class="ui-grid-col-10">{{browser.version}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Rating:</div>
                                    <div class="ui-grid-col-10">{{browser.rating}}</div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2 label">Grade:</div>
                                    <div class="ui-grid-col-10">{{browser.grade}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataTable>
    </pe-step>
    <!-- Resizable -->
    <pe-step label="Resizable">
        <h3 class="first">Fit Mode</h3>
        <p-dataTable [value]="basicBrowsers" resizableColumns="true">
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>

        <h3>Expand Mode</h3>
        <p-dataTable [value]="basicBrowsers" resizableColumns="true" columnResizeMode="expand">
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- Reorder -->
    <pe-step label="Reorder">
        <p-dataTable [value]="basicBrowsers" reorderableColumns="true">
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- Column Grouping -->
    <pe-step label="Column Grouping">
        <p-dataTable [value]="basicBrowsers">
            <p-headerColumnGroup>
                <p-row>
                    <p-column header="Browser" rowspan="3"></p-column>
                    <p-column header="Details" colspan="4"></p-column>
                </p-row>
                <p-row>
                    <p-column header="Environment" colspan="2"></p-column>
                    <p-column header="Performance" colspan="2"></p-column>
                </p-row>
                <p-row>
                    <p-column header="Engine"></p-column>
                    <p-column header="Platform"></p-column>
                    <p-column header="Rating"></p-column>
                    <p-column header="Grade"></p-column>
                </p-row>
            </p-headerColumnGroup>

            <p-column field="browser"></p-column>
            <p-column field="engine"></p-column>
            <p-column field="platform"></p-column>
            <p-column field="rating"></p-column>
            <p-column field="grade"></p-column>

            <p-footerColumnGroup>
                <p-row>
                    <p-column footer="*Please note that Chrome browser details not included" colspan="5"></p-column>
                </p-row>
            </p-footerColumnGroup>
        </p-dataTable>
    </pe-step>
    <!-- Row grouping -->
    <pe-step label="Row grouping">
        <p-dataTable [value]="browsers" sortField="browser" rowGroupMode="subheader" groupField="browser"
                     expandableRowGroups="true"
                     [sortableRowGroup]="false">
            <p-header>Toggleable Row Groups with Footers</p-header>
            <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['browser']}}</ng-template>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="rating" header="rating">
                <ng-template let-col let-browser="rowData" pTemplate="body">
                    <span>{{browser[col.field]}} 'Stars'</span>
                </ng-template>
            </p-column>
            <ng-template pTemplate="rowgroupfooter" let-browser>
                <td colspan="3" style="text-align:right">Chrome browsers are not included</td>
            </ng-template>
        </p-dataTable>

        <p-dataTable [value]="browsers" sortField="engine" rowGroupMode="subheader" groupField="engine"
                     [styleClass]="'rowgroup-padding'">
            <p-header>Subheader</p-header>
            <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['engine']}}</ng-template>
            <p-column field="browser" header="Browser" sortable="true"></p-column>
            <p-column field="platform" header="Platform" sortable="true"></p-column>
            <p-column field="grade" header="Grade" sortable="true"></p-column>
        </p-dataTable>

        <p-dataTable [value]="browsers" sortField="engine" rowGroupMode="rowspan" [styleClass]="'rowgroup-padding'">
            <p-header>RowSpan</p-header>
            <p-column field="engine" header="Engine" sortable="true"></p-column>
            <p-column field="platform" header="Platform" sortable="true"></p-column>
            <p-column field="browser" header="Browser" sortable="true"></p-column>
            <p-column field="grade" header="Grade" sortable="true"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- Lazy loading -->
    <pe-step label="Lazy loading ">
        <p-dataTable [value]="browsers" [lazy]="true" [rows]="10" [paginator]="true"
                     [totalRecords]="totalRecords" (onLazyLoad)="loadBrowsersLazy($event)">
            <p-header>List of browsers</p-header>
            <p-column field="engine" header="Engine" [sortable]="true" [filter]="true"></p-column>
            <p-column field="browser" header="Browser" [sortable]="true" [filter]="true"></p-column>
            <p-column field="platform" header="Platform" [sortable]="true" [filter]="true"></p-column>
            <p-column field="grade" header="Grade" [sortable]="true" [filter]="true"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- Scrolling -->
    <pe-step label="Scrolling">
        <p-dataTable [value]="browsers" scrollable="true" scrollHeight="200px">
            <p-header>Vertical</p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>

        <p-dataTable [value]="browsers" scrollable="true" scrollHeight="200px" [rows]="20"
                     virtualScroll="virtualScroll" [style]="{'margin-top':'30px'}"
                     [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadBrowsersLazy($event)">
            <p-header>Virtual Scrolling</p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>

        <p-dataTable [value]="browsers" scrollable="true" scrollHeight="200px" scrollWidth="600px"
                     [style]="{'margin-top':'30px'}">
            <p-header>Vertical and Horizontal</p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>

        <p-dataTable [value]="browsers" scrollable="true" scrollHeight="200px" frozenWidth="200px"
                     unfrozenWidth="600px" [style]="{'margin-top':'30px'}">
            <p-header>Frozen Columns</p-header>
            <p-column field="engine" header="Engine" [style]="{'width':'250px'}" frozen="true"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>

    <!-- Responsive -->
    <pe-step label="Responsive">
        <button pButton type="button" (click)="toggle()" class="responsive-toggle" label="Toggle"
                icon="fa-list"></button>
        <p-dataTable [value]="browsers" [rows]="3" [paginator]="true" [pageLinks]="3" [responsive]="true"
                     [stacked]="stacked">
            <p-header>Responsive</p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- Column Toggler -->
    <pe-step label="Column Toggler">
        <p-dataTable [value]="browsers">
            <p-header>
                <div style="text-align:left">
                    <p-multiSelect [options]="columnOptions" [(ngModel)]="cols"></p-multiSelect>
                </div>
            </p-header>
            <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- Export-->
    <pe-step label="Export">
        <p-dataTable #dt [value]="basicBrowsers" exportFilename="browsers" csvSeparator=";">
            <p-header>
                <div class="ui-helper-clearfix">
                    <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV"
                            (click)="dt.exportCSV()" style="float:left"></button>
                </div>
            </p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>

    <!-- DataTable Contextmenu Integration-->
    <pe-step label="DataTable + ContextMenu">
        <p-contextMenu #contextmenu [model]="tableItems"></p-contextMenu>
        <p-dataTable [value]="employees" selectionMode="single" [(selection)]="selectedEmployee"
                     [contextMenu]="contextmenu">
            <p-header>Browser Information</p-header>
            <p-column field="engine" header="Engine"></p-column>
            <p-column field="browser" header="Browser"></p-column>
            <p-column field="platform" header="Platform"></p-column>
            <p-column field="grade" header="Grade"></p-column>
        </p-dataTable>
    </pe-step>
    <!-- CRUD Operations -->
    <pe-step label="CRUD Operations">
        <p-dataTable [value]="browsers" selectionMode="single" [(selection)]="selectedbrowser"
                     (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
            <p-header>CRUD for browsers</p-header>
            <p-column field="engine" header="Engine" [sortable]="true"></p-column>
            <p-column field="browser" header="Browser" [sortable]="true"></p-column>
            <p-column field="platform" header="Platform" [sortable]="true"></p-column>
            <p-column field="grade" header="Grade" [sortable]="true"></p-column>
            <p-footer>
                <div class="ui-helper-clearfix" style="width:100%">
                    <button type="button" pButton icon="fa-plus" style="float:left" (click)="addBrowser()"
                            label="Add"></button>
                </div>
            </p-footer>
        </p-dataTable>

        <p-dialog header="browser Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
                  [modal]="true">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="browser">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="engine">Engine</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="engine" [(ngModel)]="browser.engine"/></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="browser">Browser</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="browser" [(ngModel)]="browser.browser"/></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="platform">Platform</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="platform" [(ngModel)]="browser.platform"/></div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4"><label for="grade">Grade</label></div>
                    <div class="ui-grid-col-8"><input pInputText id="grade" [(ngModel)]="browser.grade"/></div>
                </div>
            </div>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
                    <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
                </div>
            </p-footer>
        </p-dialog>

    </pe-step>
</pe-steps>


<p-growl [value]="msgs"></p-growl>