<form novalidate>
    <h3 class="first">Default Toolbar</h3>
    <p-editor [(ngModel)]="basictext" [style]="{'height':'320px'}" name="basic"></p-editor>
    <p>Value: {{basictext||'empty'}}</p>

    <button pButton type="button" label="Clear" icon="fa-close" (click)="basictext=null"></button>

    <h3 class="first">Events</h3>
    <p-editor [(ngModel)]="eventstext" [style]="{'height':'320px'}" name="basic" onTextChange="onTextChange()" onSelectionChange="onSelectionChange()" ></p-editor>
    <p>Value: {{basictext||'empty'}}</p>

    <button pButton type="button" label="Clear" icon="fa-close" (click)="basictext=null"></button>

    <hr style="border-top:0px;border-color:#dde3e6">

    <h3>Custom Toolbar</h3>
    <p-editor [(ngModel)]="customtext" [style]="{'height':'320px'}" name="custom">
        <p-header>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
        </span>
        </p-header>
    </p-editor>
    <p>Value: {{cusotmtext||'empty'}}</p>


    <button pButton type="button" label="Clear" icon="fa-close" (click)="customtext=null"></button>
</form>

<p-growl [value]="msgs"></p-growl>