.book-title {
  text-align: center;
}

.component-title{
  margin-bottom: 10px;
  text-align: center;
}

.layout-format {
  margin: auto;
  border: 1px solid #ccc !important;
  border-radius: 16px !important;
  padding: 10px 60px 60px 60px;
  width: 320px;
}

.container-format{
  height: 200px;
}