 <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event);">
        <!-- Basic -->
        <pe-step label="Basic" >
            <p-gmap [options]="options" [styleClass]="'dimensions'"></p-gmap>
        </pe-step>
        <!-- Overlays -->
        <pe-step label="Overlays">
            <p-gmap [options]="options" [overlays]="overlays" [styleClass]="'dimensions'"></p-gmap>
        </pe-step>
        <!-- GoogleMap API -->
        <pe-step label="GoogleMap API">
            <p-gmap #gmap [options]="options"></p-gmap>
            <button type="button" pButton label="Zoom In" icon="fa-search-plus" (click)="zoomIn(gmap.getMap())"></button>
        </pe-step>

        <!-- Events-->
        <pe-step label="Events">
            <p-gmap #gmap [options]="options" [overlays]="overlays"
                    (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)" (onOverlayDragEnd)="handleDragEnd($event)" [styleClass]="'dimensions'"></p-gmap>
            <button type="button" pButton label="Clear" icon="fa-close" (click)="clear()"></button>
            <button type="button" pButton label="Reset" icon="fa-map-marker" (click)="initOverlays()" ></button>
            <button type="button" pButton label="Zoom In" icon="fa-search-plus" (click)="zoomIn(gmap.getMap())"></button>
            <button type="button" pButton label="Zoom Out" icon="fa-search-minus" (click)="zoomOut(gmap.getMap())" ></button>

            <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="New Location">
                <div class="ui-grid ui-grid-pad ui-fluid" *ngIf="selectedPosition">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><label for="title">Label</label></div>
                        <div class="ui-grid-col-10"><input type="text" pInputText id="title" [(ngModel)]="markerTitle"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><label for="lat">Lat</label></div>
                        <div class="ui-grid-col-10"><input id="lat" type="text" readonly pInputText [ngModel]="selectedPosition.lat()"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><label for="lng">Lng</label></div>
                        <div class="ui-grid-col-10"><input id="lng" type="text" readonly pInputText [ngModel]="selectedPosition.lng()"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"><label for="drg">Drag</label></div>
                        <div class="ui-grid-col-10"><p-checkbox [(ngModel)]="draggable" binary="true"></p-checkbox></div>
                    </div>
                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="button" pButton label="Add Marker" icon="fa-plus" (click)="addMarker()"></button>
                    </div>
                </p-footer>
            </p-dialog>
        </pe-step>

    </pe-steps>

    <p-growl [value]="msgs"></p-growl>
