.metadata
.settings
.classpath
.project
.idea
.vscode
.editorconfig
.sass-cache
*.iml
*.log
target
node_modules
typings
dist
aot
components/**/*.d.ts
components/**/*.js
components/**/*.js.map
components/**/*.metadata.json
config/webpack-records.json
