<form novalidate>

    <p-steps name="features" [model]="items" [(activeIndex)]="activeIndex"
             [readonly]="false"></p-steps>
    <div [ngSwitch]="activeIndex" class="layout-format">
        <span *ngSwitchCase="0">
             <h3>Basic</h3>
            <p-calendar [(ngModel)]="basicDateInput" name="basic"></p-calendar>
            </span>
        <span *ngSwitchCase="1">
        <h3>Localization-German</h3>
        <p-calendar [(ngModel)]="localizedDateInput" name="localize" [locale]="de"
                    dateFormat="dd/mm/yy"></p-calendar>
            </span>
        <span *ngSwitchCase="2">
             <h3>Advanced features</h3>
            <p-calendar [(ngModel)]="advancedDateInput" name="advanced" dateFormat="dd-mm-yy" showIcon="true"
                        [minDate]="minDate" [maxDate]="maxDate" (onSelect)="onSelect()" (onFocus)="onFocus()" (onBlur)="onBlur()"
                        [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030">
                <p-header style="font-weight:bold;margin-left: 70px">Navigator</p-header>
                <p-footer>Select date</p-footer>
            </p-calendar>
        </span>
        <span *ngSwitchCase="3">
              <h3>Show Time</h3>
            <span>TimeOnly
            <p-checkbox [(ngModel)]="time" name="timeflag" binary="true"></p-checkbox>
            <p-calendar [(ngModel)]="timeDateInput" name="time" [showTime]="true"
                        [hourFormat]="hourFormat" [timeOnly]="time">
                <p-footer>
                    <p-selectButton [options]="types" [(ngModel)]="hourFormat"
                                    name="selecttype"></p-selectButton>
                </p-footer>
            </p-calendar>
            </span>
        </span>
        </div>
</form>

<p-growl [value]="msgs"></p-growl>