<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <h3>Enter date input</h3>
            <p-calendar [(ngModel)]="basicDateInput" name="basic"></p-calendar>
        </pe-step>

        <!-- Inline -->
        <pe-step label="Inline">
            <h3>Inline</h3>
            <p-calendar [(ngModel)]="inlineDateInput" name="inline" [inline]="true"></p-calendar>
        </pe-step>

        <!-- Localization -->
        <pe-step label="Localization">
            <h3>Localization-German</h3>
            <p-calendar [(ngModel)]="localizedDateInput" name="localize" [locale]="de"
                        dateFormat="dd/mm/yy"></p-calendar>
        </pe-step>

        <!-- Icon -->
        <pe-step label="Icon">
            <h3>Icon</h3>
            <p-calendar [(ngModel)]="iconDateInput" name="icon" showIcon="true"></p-calendar>
        </pe-step>

        <!-- Navigators -->
        <pe-step label="Navigators">
            <h3>Navigators</h3>
            <p-calendar [(ngModel)]="navigatorDateInput" name="navigator" [monthNavigator]="true" [yearNavigator]="true"
                        yearRange="2000:2020"></p-calendar>
        </pe-step>

        <!-- Min and Max -->
        <pe-step label="Min and Max">
            <h3>Min and Max</h3>
            <p-calendar [(ngModel)]="minmaxDateInput" name="minmax" [minDate]="minDate"
                        [maxDate]="maxDate"></p-calendar>
        </pe-step>

        <!-- Disable days&date -->
        <pe-step label="Disable days&date">
            <h3>Disable days&date</h3>
            <p-calendar [(ngModel)]="disabeDaysDateInput" name="disabledaysdate" [disabledDates]="invalidDates"
                        disabledDays="[0,6]"></p-calendar>
        </pe-step>

        <!-- Show Time -->
        <pe-step label="Show Time">
            <h3>Show Time</h3>
            <span>TimeOnly
            <p-checkbox [(ngModel)]="time" name="timeflag" binary="true"></p-checkbox>
            <p-calendar [(ngModel)]="timeDateInput" name="time" [showTime]="true"
                        [hourFormat]="hourFormat" [timeOnly]="time">
                <p-footer>
                    <p-selectButton [options]="types" [(ngModel)]="hourFormat"
                                    name="selecttype"></p-selectButton>
                </p-footer>
            </p-calendar>
            </span>
        </pe-step>

        <!-- Events -->
        <pe-step label="Events">
            <h3>Events</h3>
            <p-calendar [(ngModel)]="eventsDateInput" name="events" (onSelect)="onSelect()" (onFocus)="onFocus()"
                        (onBlur)="onBlur()">
            </p-calendar>
        </pe-step>

        <!-- ReadOnly -->
        <pe-step label="ReadOnly">
            <h3>ReadOnly</h3>
            <p-calendar [(ngModel)]="readonlyDateInput" name="readonly" [readonlyInput]="true">
            </p-calendar>
            <h3>Disable</h3>
            <p-calendar [(ngModel)]="disableDateInput" name="disable" disabled="true">
            </p-calendar>
        </pe-step>


        <!-- Advanced features -->
        <pe-step label="Advanced features">
            <h3>Advanced features</h3>
            <p-calendar [(ngModel)]="advancedDateInput" name="advanced" dateFormat="dd-mm-yy" showIcon="true"
                        [minDate]="minDate" [maxDate]="maxDate" (onSelect)="onSelect()" (onFocus)="onFocus()"
                        (onBlur)="onBlur()"
                        [readonlyInput]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030">
                <p-header style="font-weight:bold;margin-left: 70px">Navigator</p-header>
                <p-footer>Select date</p-footer>
            </p-calendar>
        </pe-step>
    </pe-steps>
</form>

<p-growl [value]="msgs"></p-growl>