.book-title {
  text-align: center;
}

.component-title{
  margin-bottom: 10px;
  text-align: center;
}

.layout-format {
  margin: auto;
  border: 1px solid #ccc !important;
  border-radius: 16px !important;
  padding: 10px 60px 60px 60px;
  width: 320px;
}

.algin-left {
  text-align:left;
}

.col-button {
  width: 10%;
  text-align: center;
}

.align-globalfilter {
  padding:4px 10px;
  border-bottom: 0 none;
}

.search-globalfilter{
  margin:4px 4px 0 0;
}

.slider-layout {
  width:100%;
  margin-top:8px;
}

.rowexpansion-layout {
  font-size:16px;
  padding:20px
}

.responsive-toggle {
  margin-bottom:10px;
}

.rowgroup-padding {
  margin-top:50px;
}

.column-width {
  width:250px;
}

.table-padding {
  margin-top:50px;
}