<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <p-toggleButton [(ngModel)]="basic" name="basic"></p-toggleButton>
        </pe-step>

        <!-- Customization -->
        <pe-step label="Customization">
            <p-toggleButton [(ngModel)]="customized" name="custom" onLabel="I confirm" offLabel="I reject"
                            onIcon="fa-check-square" offIcon="fa-window-close" ></p-toggleButton>
        </pe-step>

        <!-- Events -->
        <pe-step label="Events">
            <p-toggleButton [(ngModel)]="events" name="events"  (onChange)="onToggleButton($event)"></p-toggleButton>
        </pe-step>

        <!-- Disabled -->
        <pe-step label="Disabled">
            <p-toggleButton [(ngModel)]="disabled" name="disabled" disabled="true"></p-toggleButton>
        </pe-step>
    </pe-steps>

</form>

<p-growl [value]="msgs"></p-growl>