    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event);">
        <!-- Basic -->
        <pe-step label="Basic">
            <p-treeTable [value]="basicTreeTable">
                <p-header>Basic</p-header>
                <p-column field="name" header="Name"></p-column>
                <p-column field="days" header="Days"></p-column>
                <p-column field="type" header="Type"></p-column>
            </p-treeTable>
        </pe-step>
        <!-- Singe Selection-->
        <pe-step label="Singe Selection">
            <p-treeTable [value]="singleSelectionTreeTable" selectionMode="single" [(selection)]="selectedTouristPlace"
                         (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
                <p-header>Singe Selection</p-header>
                <p-column field="name" header="Name"></p-column>
                <p-column field="days" header="Days"></p-column>
                <p-column field="type" header="Type"></p-column>
            </p-treeTable>
            <p>Selected Node: {{selectedTouristPlace ? selectedTouristPlace.data.name : 'none'}}</p>
        </pe-step>
        <!-- Multiple Selection -->
        <pe-step label="Multiple Selection">
            <p-treeTable [value]="multipleSelectionTreeTable" selectionMode="multiple" [(selection)]="selectedTouristPlaces"
                         (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
                <p-header>Multiple Selection</p-header>
                <p-column field="name" header="Name"></p-column>
                <p-column field="days" header="Days"></p-column>
                <p-column field="type" header="Type"></p-column>
            </p-treeTable>
            <p>Selected Nodes: <span *ngFor="let place of selectedTouristPlaces">{{place.data.name}} </span></p>
        </pe-step>
        <!-- Checkbox Selection -->
        <pe-step label="Checkbox Selection">
            <p-treeTable [value]="checkboxSelectionTreeTable" selectionMode="checkbox" [(selection)]="selectedMultiTouristPlaces">
                <p-header>Checkbox Selection</p-header>
                <p-column field="name" header="Name"></p-column>
                <p-column field="days" header="Days"></p-column>
                <p-column field="type" header="Type"></p-column>
            </p-treeTable>
            <p>Selected Nodes: <span *ngFor="let place of selectedMultiTouristPlaces">{{place.data.name}} </span></p>
        </pe-step>

        <!-- Editable Cells with Templating -->
        <pe-step label="Editable Cells with Templating">
            <p-treeTable [value]="templateTreeTable">
                <p-header>Editable Cells with Templating</p-header>
                <p-column field="name" header="Name">
                    <ng-template let-node="rowData" pTemplate="body">
                        <input type="text" [(ngModel)]="node.data.name" class="edit-input">
                    </ng-template>
                </p-column>
                <p-column field="days" header="Days">
                    <ng-template let-node="rowData" pTemplate="body">
                        <input type="text" [(ngModel)]="node.data.days" class="edit-input">
                    </ng-template>
                </p-column>
                <p-column field="type" header="Type">
                    <ng-template let-node="rowData" pTemplate="body">
                        <input type="text" [(ngModel)]="node.data.type" class="edit-input">
                    </ng-template>
                </p-column>
            </p-treeTable>
        </pe-step>
        <!-- Context Menu -->
        <pe-step label="Context Menu">
            <p-treeTable [value]="contextmenuTreeTable" selectionMode="single" [(selection)]="selectedPlace" [contextMenu]="cm">
                <p-header>Context Menu</p-header>
                <p-column field="name" header="Name"></p-column>
                <p-column field="days" header="Days"></p-column>
                <p-column field="type" header="Type"></p-column>
            </p-treeTable>
        </pe-step>

        <!-- Lazy Loading-->
        <pe-step label="Lazy Loading">
            <p-treeTable [value]="lazyTreeTable" (onNodeExpand)="nodeExpand($event)">
                <p-header>Lazy Loading</p-header>
                <p-column field="name" header="Name"></p-column>
                <p-column field="days" header="Days"></p-column>
                <p-column field="type" header="Type"></p-column>
            </p-treeTable>
        </pe-step>

    </pe-steps>

<p-growl [value]="msgs"></p-growl>