.metadata
.settings
.classpath
.project
.idea
*.iml
.vscode
.editorconfig
.sass-cache
target
node_modules
typings
dist
aot
src/**/*.d.ts
src/**/*.js
src/**/*.js.map
src/**/*.metadata.json
npm-debug.log
config/webpack-records.json
