<p-messages [value]="msgs"></p-messages>

<p-dataTable [value]="employees" selectionMode="single" [(selection)]="selectedEmployee"
             [paginator]="true" rows="15" [responsive]="true" [alwaysShowPaginator]="false">
    <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
    <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
    <p-column field="profession" header="Profession" [sortable]="true"></p-column>
    <p-column field="department" header="Department" [sortable]="true"></p-column>
    <p-footer>
        <button pButton type="button" label="Add" icon="fa-plus" (click)="add()"></button>
        <button pButton type="button" label="Edit" icon="fa-pencil" (click)="edit()"
                [disabled]="!selectedEmployee"></button>
        <button pButton type="button" label="Remove" icon="fa-trash-o" (click)="remove()"
                [disabled]="!selectedEmployee"></button>
    </p-footer>
</p-dataTable>

<p-dialog header="Employee Details" [(visible)]="displayDialog"
          [responsive]="true" showEffect="fade" [modal]="true">
    <form #employeeForm="ngForm" novalidate>
        <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="employeeForDialog">
            <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="fname">First Name</label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input pInputText id="fname" name="fname" required
                           [(ngModel)]="employeeForDialog.firstName"/>
                </div>
            </div>
            <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="lname">Last Name</label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input pInputText id="lname" name="lname" required
                           [(ngModel)]="employeeForDialog.lastName"/>
                </div>
            </div>
            <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="prof">Profession</label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input pInputText id="prof" name="prof" required
                           [(ngModel)]="employeeForDialog.profession"/>
                </div>
            </div>
            <div class="ui-g ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-md-3 ui-label">
                    <label for="depart">Department</label>
                </div>
                <div class="ui-g-12 ui-md-9">
                    <input pInputText id="depart" name="depart" required
                           [(ngModel)]="employeeForDialog.department"/>
                </div>
            </div>
        </div>
    </form>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="submit" pButton icon="fa-check" (click)="save()"
                    label="Save" [disabled]="!employeeForm.form.valid"></button>
        </div>
    </p-footer>
</p-dialog>