<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <button name="basic" pButton type="text" label="ClickMe"></button>
         </pe-step>

        <!-- Enhanced buttons with Icons -->
        <pe-step label="Enhanced buttons with Icons">
            <button pButton type="text" icon="fa-close"></button>

            <button pButton type="text" icon="fa-check" label="Yes"></button>

            <button pButton type="text" icon="fa-check" iconPos="right" label="Yes"></button>
        </pe-step>

        <!-- Button severity with classes -->
        <pe-step label="Button severity with classes">
            <button pButton type="text" label="Primary"></button>
            <button pButton type="text" label="Secondary" class="ui-button-secondary"></button>
            <button pButton type="text" label="Success" class="ui-button-success"></button>
            <button pButton type="text" label="Info" class="ui-button-info"></button>
            <button pButton type="text" label="Warning" class="ui-button-warning"></button>
            <button pButton type="text" label="Danger" class="ui-button-danger"></button>
        </pe-step>

        <!-- Events -->
        <pe-step label="Events:click">
            <button pButton type="text" (click)="clickMe()" label="Notify"></button>
        </pe-step>

        <!-- Disable Button -->
        <pe-step label="Disabled">
            <button pButton type="text" [disabled]="true" label="Disabled"></button>
        </pe-step>
    </pe-steps>
</form>

<p-growl [value]="msgs"></p-growl>