<form novalidate>
    <p-steps name="features" [model]="items" [(activeIndex)]="activeIndex"
             [readonly]="false"></p-steps>
    <div [ngSwitch]="activeIndex" class="layout-format">
        <span *ngSwitchCase="0">
             <h3 class="first">Default Toolbar</h3>
            <p-editor name="basic" [(ngModel)]="basictext" [style]="{'height':'200px'}" ></p-editor>
            <p>Value: {{basictext}}</p>
            </span>

         <span *ngSwitchCase="0">
             <h3 class="first">Events</h3>
            <p-editor  name="events" [(ngModel)]="eventstext" [style]="{'height':'200px'}"  onTextChange="onTextChange()"
                       onSelectionChange="onSelectionChange()"></p-editor>
            <p>Value: {{eventstext}}</p>
             </span>
             <span *ngSwitchCase="0">
                 <h3>Custom Toolbar</h3>
            <p-editor name="custom" [(ngModel)]="customtext" [style]="{'height':'200px'}" >
                <p-header>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-clean"></button>
        </span>
                </p-header>
            </p-editor>
            <p>Value: {{cusotmtext}}</p>
                 </span>
        </div>
</form>

<p-growl [value]="msgs"></p-growl>