<form novalidate>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <h3 class="first">Default Toolbar</h3>
            <p-editor [(ngModel)]="basictext" [style]="{'height':'200px'}" name="basic"></p-editor>
            <p>Value: {{basictext||'empty'}}</p>
            <button pButton type="button" label="Clear" icon="fa-close" (click)="basictext=null"></button>
        </div>
        <div class="ui-g-12 ui-md-6">
            <h3 class="first">Events</h3>
            <p-editor [(ngModel)]="eventstext" [style]="{'height':'200px'}" name="events" onTextChange="onTextChange()"
                      onSelectionChange="onSelectionChange()"></p-editor>
            <p>Value: {{eventstext||'empty'}}</p>
            <button pButton type="button" label="Clear" icon="fa-close" (click)="eventstext=null"></button>
        </div>

        <div class="ui-g-12 ui-md-6">
            <h3>Custom Toolbar</h3>
            <p-editor [(ngModel)]="customtext" [style]="{'height':'200px'}" name="custom">
                <p-header>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-clean"></button>
        </span>
                </p-header>
            </p-editor>
            <p>Value: {{cusotmtext||'empty'}}</p>
            <button pButton type="button" label="Clear" icon="fa-close" (click)="customtext=null"></button>
        </div>
    </div>
</form>

<p-growl [value]="msgs"></p-growl>