<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <h3>Enter password</h3>
            <input pPassword type="password" name="basic"/>
        </pe-step>

        <!-- Customized -->
        <pe-step label="Customized" [styleClass]="'multicheckbox-height'">
            <h3>Customized password</h3>
            <input pPassword type="password" [(ngModel)]="password" name="custom" promptLabel="Enter password"
                   weakLabel="Passoword is Weak" mediumLabel="Passoword is Medium" strongLabel="Passoword is Strong"/>
        </pe-step>

    </pe-steps>
</form>

