<form novalidate>
    <p-steps name="features" [model]="items" [(activeIndex)]="activeIndex"
             [readonly]="false"></p-steps>
    <div [ngSwitch]="activeIndex" class="layout-format">
        <span *ngSwitchCase="0">
            <h3>Basic</h3>
            <input pPassword type="password" name="basic"/>
            </span>
         <span *ngSwitchCase="1">
              <h3>Customized password</h3>
            <input pPassword type="password" [(ngModel)]="password" name="custom" promptLabel="Enter password"
                   weakLabel="Passoword is Weak" mediumLabel="Passoword is Medium" strongLabel="Passoword is Strong"/>
            </span>
        </div>
</form>

