<form novalidate>
    <h1>Password</h1>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6">
            <h3>Basic</h3>
            <input pPassword type="password" name="basic"/>
        </div>

        <div class="ui-g-12 ui-md-6">
            <h3>Customized password</h3>
            <input pPassword type="password" [(ngModel)]="password" name="custom" promptLabel="Enter password"
                   weakLabel="Passoword is Weak" mediumLabel="Passoword is Medium" strongLabel="Passoword is Strong"/>
        </div>
    </div>
</form>

