<pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
    <!-- Standard -->
    <pe-step label="Standard">
        <p-galleria [images]="images" panelWidth="400" panelHeight="400"
                    [showCaption]="true">
        </p-galleria>
    </pe-step>

    <!-- autoPlay mode -->
    <pe-step label="Standard">
        <p-galleria [images]="images" panelWidth="400" panelHeight="400"
                    [autoPlay]="true" [showCaption]="true">
        </p-galleria>
    </pe-step>

    <!-- Events -->
    <pe-step label="Standard">
        <p-galleria [images]="images" panelWidth="400" panelHeight="400"
                    [showCaption]="true" (onImageClicked)="onImageClicked($event)">
        </p-galleria>
    </pe-step>
</pe-steps>

<p-growl [value]="msgs"></p-growl>