<form novalidate>
    <h3 class="first">Positions</h3>
    <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
        <div class="ui-grid-row">
            <div class="ui-grid-col-3">
                <input type="text" pInputText pTooltip="Enter your username" placeholder="Right">
            </div>
            <div class="ui-grid-col-3">
                <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top" placeholder="Top">
            </div>
            <div class="ui-grid-col-3">
                <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="bottom" placeholder="Bottom">
            </div>
            <div class="ui-grid-col-3">
                <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="left" placeholder="Left">
            </div>
        </div>
    </div>

    <h3>Focus and Blur</h3>
    <input type="text" pInputText pTooltip="Enter your username" placeholder="Right" tooltipEvent="focus" style="margin-left:10px">
</form>

<p-growl [value]="msgs"></p-growl>