    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event);">
        <p-contextMenu [global]="true" [model]="documentitems"></p-contextMenu>
        <!-- Basic -->
        <pe-step label="Basic" >

        </pe-step>
        <!-- Customization -->
        <pe-step label="Customization">
            <p-contextMenu [target]="img" [model]="targetitems" ></p-contextMenu>
            <img #img src="/assets/data/images/primeng.png" alt="Logo">
        </pe-step>
    </pe-steps>

<p-growl [value]="msgs"></p-growl>