<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event);">
        <!-- Basic -->
        <pe-step label="Basic" >
            <p-dataScroller [value]="browsers" [rows]="10" [buffer]="0.4">
                <p-header>
                    List of Browsers
                </p-header>
                <ng-template let-browser pTemplate="item">
                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-3" style="text-align:center"><i class="fa fa-search" (click)="selectBrowser(browser)" style="cursor:pointer;float:left;margin-top:40px"></i></div>
                            <div class="ui-grid-col-9">
                                <div class="ui-grid ui-grid-responsive ui-fluid">
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Engine: </div>
                                        <div class="ui-grid-col-10">{{browser.engine}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Browser: </div>
                                        <div class="ui-grid-col-10">{{browser.browser}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Platform: </div>
                                        <div class="ui-grid-col-10">{{browser.platform}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Version: </div>
                                        <div class="ui-grid-col-10">{{browser.version}}</div>
                                    </div>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-2">Grade: </div>
                                        <div class="ui-grid-col-10">{{browser.grade}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataScroller>

            <!--<p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()">
                <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedCar" style="font-size:16px;text-align:center;padding:20px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12" style="text-align:center"><img src="showcase/resources/demo/images/car/{{selectedCar.brand}}-big.gif"></div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">Vin: </div>
                        <div class="ui-grid-col-8">{{selectedCar.vin}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">Year: </div>
                        <div class="ui-grid-col-8">{{selectedCar.year}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">Brand: </div>
                        <div class="ui-grid-col-8">{{selectedCar.brand}}</div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4">Color: </div>
                        <div class="ui-grid-col-8">{{selectedCar.color}}</div>
                    </div>
                </div>
            </p-dialog>-->
        </pe-step>
        <!-- Customization -->
        <pe-step label="Customization">
        </pe-step>


    </pe-steps>

</form>

<p-growl [value]="msgs"></p-growl>