<form novalidate>
    <pe-steps [(activeIndex)]="activeIndex" (change)="onChangeStep($event)">
        <!-- Basic -->
        <pe-step label="Basic">
            <h3>Learn about various Angular versions</h3>
            <p-accordion>
                <p-accordionTab header="AngularJS">
                    AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.
                </p-accordionTab>
                <p-accordionTab header="AngularV2.0">
                    The successor to the older AngularJS web framework, now simply known as "Angular". Angular takes a web component-based approach to build powerful applications for the web. It is used along with TypeScript which provides support for both older and new versions of JavaScript.
                </p-accordionTab>
                <p-accordionTab header="AngularV4.0">
                    Angular version 4.0.0 is a major release following announced adoption of Semantic Versioning, and is backwards compatible with 2.x.x for most applications.
                </p-accordionTab>
            </p-accordion>
        </pe-step>

        <!-- Selected -->
        <pe-step label="Selected">
            <h3>Learn about various Angular versions</h3>
            <p-accordion [multiple]="true">
                <p-accordionTab header="AngularJS">
                    AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.
                </p-accordionTab>
                <p-accordionTab header="AngularV2.0">
                    The successor to the older AngularJS web framework, now simply known as "Angular". Angular takes a web component-based approach to build powerful applications for the web. It is used along with TypeScript which provides support for both older and new versions of JavaScript.
                </p-accordionTab>
                <p-accordionTab header="AngularV4.0" [selected]="true">
                    Angular version 4.0.0 is a major release following announced adoption of Semantic Versioning, and is backwards compatible with 2.x.x for most applications.
                </p-accordionTab>
            </p-accordion>
        </pe-step>

        <!-- Multiple -->
        <pe-step label="Multiple">
            <h3>Learn about various Angular versions</h3>
            <p-accordion [multiple]="true">
                <p-accordionTab header="AngularJS">
                    AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.
                </p-accordionTab>
                <p-accordionTab header="AngularV2.0">
                    The successor to the older AngularJS web framework, now simply known as "Angular". Angular takes a web component-based approach to build powerful applications for the web. It is used along with TypeScript which provides support for both older and new versions of JavaScript.
                </p-accordionTab>
                <p-accordionTab header="AngularV4.0">
                    Angular version 4.0.0 is a major release following announced adoption of Semantic Versioning, and is backwards compatible with 2.x.x for most applications.
                </p-accordionTab>
            </p-accordion>
        </pe-step>

        <!-- Cusotmized content -->
        <pe-step label="Customized Header">
            <h3>Learn about various Angular versions</h3>
            <p-accordion>
                <p-accordionTab>
                    <p-header>
                        <img src="/assets/data/images/angularjs.png" alt="Smiley face" width="42" height="42">
                        AngularJS
                    </p-header>
                    AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.
                </p-accordionTab>
                <p-accordionTab header="AngularV2.0">
                    <p-header>
                        <img src="/assets/data/images/angular2.svg" alt="Smiley face" width="42" height="42">
                        AngularV2.0
                    </p-header>
                    The successor to the older AngularJS web framework, now simply known as "Angular". Angular takes a web component-based approach to build powerful applications for the web. It is used along with TypeScript which provides support for both older and new versions of JavaScript.
                </p-accordionTab>
                <p-accordionTab header="AngularV4.0">
                    <p-header>
                        <img src="/assets/data/images/angular4.png" alt="Smiley face" width="42" height="42">
                        AngularV4.0
                    </p-header>
                    Angular version 4.0.0 is a major release following announced adoption of Semantic Versioning, and is backwards compatible with 2.x.x for most applications.
                </p-accordionTab>
            </p-accordion>
        </pe-step>

        <!-- ActiveIndex -->
        <pe-step label="ActiveIndex">
            <h3>Learn about various Angular versions</h3>
            <p-accordion [activeIndex]="accordionActiveIndexes" [multiple]="true">
                <p-accordionTab header="AngularJS">
                    AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.
                </p-accordionTab>
                <p-accordionTab header="AngularV2.0">
                    The successor to the older AngularJS web framework, now simply known as "Angular". Angular takes a web component-based approach to build powerful applications for the web. It is used along with TypeScript which provides support for both older and new versions of JavaScript.
                </p-accordionTab>
                <p-accordionTab header="AngularV4.0">
                    Angular version 4.0.0 is a major release following announced adoption of Semantic Versioning, and is backwards compatible with 2.x.x for most applications.
                </p-accordionTab>
            </p-accordion>
        </pe-step>

        <!-- Events -->
        <pe-step label="Events">
            <h3>Learn about various Angular versions</h3>
            <p-accordion (onClose)="onTabClose($event)" (onOpen)="onTabOpen($event)">
                <p-accordionTab header="AngularJS">
                    AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.
                </p-accordionTab>
                <p-accordionTab header="AngularV2.0">
                    The successor to the older AngularJS web framework, now simply known as "Angular". Angular takes a web component-based approach to build powerful applications for the web. It is used along with TypeScript which provides support for both older and new versions of JavaScript.
                </p-accordionTab>
                <p-accordionTab header="AngularV4.0">
                    Angular version 4.0.0 is a major release following announced adoption of Semantic Versioning, and is backwards compatible with 2.x.x for most applications.
                </p-accordionTab>
            </p-accordion>
        </pe-step>

        <!-- Disabled -->
        <pe-step label="Disabled">
            <h3>Learn about various Angular versions</h3>
            <p-accordion>
                <p-accordionTab header="AngularJS" [disabled]="true">
                    AngularJS (commonly referred to as "Angular.js" or "AngularJS 1.X") is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.
                </p-accordionTab>
                <p-accordionTab header="AngularV2.0" >
                    The successor to the older AngularJS web framework, now simply known as "Angular". Angular takes a web component-based approach to build powerful applications for the web. It is used along with TypeScript which provides support for both older and new versions of JavaScript.
                </p-accordionTab>
                <p-accordionTab header="AngularV4.0">
                    Angular version 4.0.0 is a major release following announced adoption of Semantic Versioning, and is backwards compatible with 2.x.x for most applications.
                </p-accordionTab>
            </p-accordion>
        </pe-step>
    </pe-steps>
</form>

<p-growl [value]="msgs"></p-growl>