.book-title {
  margin-left:25%;
  text-decoration: underline;
}

.component-title{
  margin-bottom: 10px;
  margin-left: 42%;
}

.layout-format {
  margin-left: 35%;
  border: 1px solid #ccc !important;
  border-radius: 16px !important;
  padding:10px 60px 60px 60px;
  width: 300px;
}

