<form novalidate>
    <p-fieldset legend="PrimeNG">
        PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
        All widgets are open source and free to use under MIT License.
        PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
    </p-fieldset>

    <p-fieldset legend="PrimeNG" [toggleable]="true" (onBeforeToggle)="beforeToggle()" (onAfterToggle)="afterToggle()">
        PrimeNG is a collection of rich UI components for Angular. PrimeNG is a sibling of the popular JavaServer Faces Component Suite, PrimeFaces.
        All widgets are open source and free to use under MIT License.
        PrimeNG is developed by PrimeTek Informatics, a company with years of expertise in developing open source UI components.
    </p-fieldset>
</form>

<p-growl [value]="msgs"></p-growl>