<form novalidate>

    <h1>Rate your faviourite Single page applications</h1>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <h3>Basic</h3>
            Angular
            <p-rating name="basic" [(ngModel)]="angular" ></p-rating>
            Rating: {{angular}}
        </div>
        <div class="ui-g-12 ui-md-4">
            <h3>Events</h3>
            React
            <p-rating name="events" [(ngModel)]="react" (onRate)="handleRate($event)"
                      (onCancel)="handleCancel($event)"></p-rating>
            Rating: {{react}}
        </div>
        <div class="ui-g-12 ui-md-4">
            <h3>Cancel Control</h3>
            Ember
            <p-rating name="cancel" [(ngModel)]="ember" [cancel]="false" stars="10"></p-rating>
            Rating: {{ember}}
        </div>
        <div class="ui-g-12 ui-md-4">
            <h3>ReadOnly</h3>
            Knockout
            <p-rating name="readonly" [ngModel]="knockout" readonly="true"></p-rating>
            Rating: {{knockout}}
        </div>
        <div class="ui-g-12 ui-md-4">
            <h3>Disabled</h3>
            VueJS
            <p-rating name="disabled" [ngModel]="vuejs" disabled="true"></p-rating>
            Rating: {{vuejs}}
        </div>
    </div>
</form>

<p-growl [value]="msgs"></p-growl>