<form novalidate>

    <h1>Rate different Single page applications</h1>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <h3>Basic</h3>
            <p-rating [(ngModel)]="angular" name="basic"></p-rating>
            Angular {{angular}}
        </div>
        <div class="ui-g-12 ui-md-4">

            <h3>Events</h3>
            <p-rating [(ngModel)]="react" name="events" (onRate)="handleRate($event)"
                      (onCancel)="handleCancel($event)"></p-rating>
            React {{react}}
        </div>
        <div class="ui-g-12 ui-md-4">
            <h3>Cancel Control</h3>
            <p-rating [(ngModel)]="ember" name="cancel" [cancel]="false" stars="10"></p-rating>
            Ember {{ember}}
        </div>
        <div class="ui-g-12 ui-md-4">
            <h3>ReadOnly</h3>
            <p-rating [ngModel]="knockout" name="readonly" readonly="true"></p-rating>
            Knockout {{knockout}}
        </div>
        <div class="ui-g-12 ui-md-4">
            <h3>Disabled</h3>
            <p-rating [ngModel]="vuejs" name="disabled" disabled="true"></p-rating>
            VueJS {{vuejs}}
        </div>
    </div>
</form>

<p-growl [value]="msgs"></p-growl>