<div class="dnd-container">
    <p-dataGrid [value]="availableDocs">
        <p-header>
            Available Documents
        </p-header>
        <ng-template let-doc pTemplate="item">
            <div class="ui-g-12 ui-md-4" pDraggable="docs"
                 dragHandle=".ui-panel-titlebar" dragEffect="move"
                 (onDragStart)="dragStart($event, doc)" (onDragEnd)="dragEnd($event)">
                <p-panel [header]="doc.title" [style]="{'text-align':'center'}">
                    <img src="/assets/data/images/docs/{{doc.extension}}.png">
                </p-panel>
            </div>
        </ng-template>
    </p-dataGrid>

    <br/><br/>

    <div pDroppable="docs" (onDrop)="drop($event)" [ngClass]="{'dragged-doc': draggedDoc}">
        <p-dataTable [value]="deletedDocs">
            <p-header>Recycle Bin</p-header>
            <p-column field="title" header="Title"></p-column>
            <p-column field="size" header="Size (bytes)"></p-column>
            <p-column field="creator" header="Creator"></p-column>
            <p-column field="creationDate" header="Creation Date">
                <ng-template let-col let-doc="rowData" pTemplate="body">
                    {{doc[col.field].toLocaleDateString()}}
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>

    <br/><br/>
</div>